.app-item {
  background-color:white;
  border:solid rgba(0,0,0,0.1) 1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius:$global-radius;
}
$teal: #17BEAC;
$ultra: #4F4CB1;
$peach: #FFCEC3;
$daisy: #FFDBA0;

.debug {
  border: solid red 2px;
}
